body{
	padding:20px;
}


svg{
	background-color:white;
	font-size: 20px;
}

.style{
	position: absolute; 
	top: 75px; 
	left: 250px;
	background='transparent';
	plot_background='transparent';
	foreground='#53E89B';
	foreground_strong='#53A0E8';
	foreground_subtle='#630C0D';
	opacity='.6';
	opacity_hover='.9';
	transition='400ms ease-in';
}